<body>
    <div class="container">
        <% if (liveMLS.result === 0) { %>
         <h3 class="no-live-games">No MLS Games On Right Now</h3>
        <% } else { %>
          <div class="games">
            <% liveMLS.response.forEach(fixture => { %>
                <div class="game">
                    <h2><%= fixture.teams.home.name %> vs <%= fixture.teams.away.name %></h2>
                    <p>Date: <%= new Date(fixture.fixture.date).toLocaleString() %></p>
                    <p>Venue: <%= fixture.fixture.venue.name %>, <%= fixture.fixture.venue.city %></p>
                    <p>Referee: <%= fixture.fixture.referee %></p>
                    <p><%= fixture.teams.home.name %>: <%= fixture.goals.home %></p>
                    <p><%= fixture.teams.away.name %>: <%= fixture.goals.away %></p>
                </div>
            <% }); %>
        </div>  
       <% } %> 
    </div>
</body>