<body>

    <div class="container">
        <h3>Upcoming <%= upcoming.response[0].league.name %> Games</h3>
        <div class="games">
            <% upcoming.response.forEach(fixture => { %>
                <div class="game">
                    <h2><%= fixture.teams.home.name %> vs <%= fixture.teams.away.name %></h2>
                    <p>Date: <%= new Date(fixture.fixture.date).toLocaleString() %></p>
                    <p>Venue: <%= fixture.fixture.venue.name %>, <%= fixture.fixture.venue.city %></p>
                    <p>Referee: <%= fixture.fixture.referee %></p>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="container">
        <h3>Past <%= prev.parameters.last %> <%= prev.response[0].league.name %> Games</h3>
        <div class="games">
            <% prev.response.forEach(fixture => { %>
                <div class="game">
                    <h2><%= fixture.teams.home.name %> vs <%= fixture.teams.away.name %></h2>
                    <p>Date: <%= new Date(fixture.fixture.date).toLocaleString() %></p>
                    <p>Venue: <%= fixture.fixture.venue.name %>, <%= fixture.fixture.venue.city %></p>
                    <p>Referee: <%= fixture.fixture.referee %></p>
                    <p><%= fixture.teams.home.name %>: <%= fixture.score.fulltime.home %></p>
                    <p><%= fixture.teams.away.name %>: <%= fixture.score.fulltime.away %></p>
                </div>
            <% }); %>
        </div>
    </div>

</body>

<!-- data.league.name -->

<script>
    const upcoming = <%- JSON.stringify(upcoming) %>;
    console.log('Upcoming MLS Games', upcoming);
</script>